extends ../layout
block content
	style().
		html{
			background-color: #ffffff;
		}
	div(class="container")
		div(class="panel panel-success" style="margin-top:0.5em;")
				div(class="panel-heading" style="")
					h1(class="planel-title" style="font-size: 25px;text-align:center;") Seleccionar cliente
				div(class="panel-body")
					div(class="row")
						label(class="col-sm-2") Filtro por nombre:
						input(type="text" class="col-sm-2" id="nombre")
						a(href="/clientes/marth" style="color:white;" class="btn btn-info fa fa-search" id="link" onclick="var value = document.getElementById('nombre').value;document.getElementById('link').setAttribute('href', '/clientes/'+value);")   Buscar
					div(class="row" style="margin-top:2em;")
						table(class="table table-striped")
							thead
								tr
									th(style="text-align:center;") ID
									th(style="text-align:center;") Nombre
									th(style="text-align:center;") Telefono
									th(style="text-align:center;") Correo
									th(style="text-align:center;") Seleccionar

							tbody
								each cliente in clientes
									tr
										td(style="text-align:center;" contenteditable=false) #{cliente.id_cliente}
										td(style="text-align:center;" contenteditable=false) #{cliente.nombre}
										td(style="text-align:center;" contenteditable=false) #{cliente.telefono}
										td(style="text-align:center;" contenteditable=false) #{cliente.correo}
										td(style="text-align:center;")
											a(href="/cliente_seleccionado/#{cliente.id_cliente}" style="color:white;" class="btn btn-success fa fa-user-plus")  Seleccionar