extends ../layout
block content
	style().
		html{
			background-color: #f2f2f2;
		}
	script(src="../../js/validators.js")
	script(src="../../js/parseTable.js")
	script(src="../../../js/parseTable.js")
	script(src="../../../js/validators.js")
	script(src="../../../jquery/dist/jquery.min.js")
	script(src="../../../sweet_alerts/dist/sweetalert.min.js")
	link( rel="stylesheet" type="text/css" href="../../../sweet_alerts/dist/sweetalert.css")
	script().
		function cambiarEstado(no_pedido,combo){
			swal({   
			   title: "¿Confirmación de cambio de estado", 
			   type: "warning",   
			   showCancelButton: true,   
			   confirmButtonColor: "#DD6B55",   
			   confirmButtonText: "Si, estoy seguro.",   closeOnConfirm: false }, 
			   function(isConfirm){   
			   		if(isConfirm){
			   			$.ajax({
						   url: '/disenio/'+no_pedido+'/'+document.getElementById('select_estado').value+'/?_method=put',
						   type: 'POST',
						   success: function(response) {

							    if (response) {
						        	window.location.href = response;
						        	redirectWindow.location;
						        }
						   }
						});
						swal("Estado del pedido cambiado!","Listo","success");
				   	}else{
				   		combo.selectedIndex="0";
				   	}
			   });
		}
	div(class="container-fluid")
		div(class="row" style="background: #4f6074;")
			div(class="col-md-12 text-center") 
				h2(style="color:white;font-size:2em;") Especificación de diseño - Diseñador
		div(class="container")
			div(class="row" style="margin-top:3em;")
				label(for="no_pedido" class="col-sm-2 control-label") No. pedido:
				div(class="col-sm-4")
					input(type="text" class="form-control " name="no_pedido" placeholder="Numero de pedido" readonly value="#{pedido.no_pedido}")
			div(class="row" style="margin-top:1em;")
				label(class="col-sm-2 control-label") Fecha:
				div(class="col-sm-4")
					input(type="text" class="form-control " name="fecha" placeholder="Fecha" readonly value="#{new Date(pedido.fecha).getFullYear()}/#{new Date(pedido.fecha).getMonth()+1}/#{new Date(pedido.fecha).getDate()}" )
			div(class="row" style="margin-top:3em;border-bottom: 1px solid #eeeeee;")
				label(class="col-sm-3" style="") Modelos del pedido
			div(class="row")
				div(class="col-sm-1")
				div(class="col-sm-10")
					table(class="table table-striped" name="table" id="modelos_pedido")
						thead
							tr
								th(style="text-align:center;") Modelo
								th(style="text-align:center;") Cantidad
								th(style="text-align:center;") Detalles
						tbody
							each modelo in modelos_pedido
								tr
									td(style="text-align:center;" contenteditable=false) #{modelo.id_modelo}
									td(style="text-align:center;" contenteditable=false) #{modelo.cantidad}
									td(style="text-align:center;" contenteditable=false) #{modelo.detalles}
			div(class="row" style="margin-top:3em;border-bottom: 1px solid #eeeeee;")
				label(class="col-sm-3" style="") Especificaciones de diseño
			div(class="row" style="")
				textarea(class="form-control" rows="8" placeholder="Especificaciones de diseño" readonly) #{pedido.especificaciones}
			div(class="row" style="margin-top:2em;")
				//- put actualizar el estado del diseño
				form(method="post" action="#" class="form-horizontal")
					div(class="form-group")
						label(class="col-sm-2" style="") Estado del diseño:
						div(class="col-sm-2 text-left")
							select(class="form-control" onchange="cambiarEstado(#{pedido.no_pedido},this);" id="select_estado") 
								-if(pedido.estado_disenio == "pendiente"){
									option(selected value="pendiente") Pendiente
									option(value="revision") Revision
									option(value="autorizado") Autorizado
								-}else if(pedido.estado_disenio == "revision"){
									option(selected  value="revision") Revision
									option(value="autorizado") Autorizado
								-}else if(pedido.estado_disenio == "autorizado"){
									option(value="autorizado") Autorizado
								-}	
					div(class="col-sm-12 text-right" style="margin-bottom:2em;")
						a(href="/disenios/lista/" class="btn btn-info") Regresar

	div(style="border-top:3em;")
		p(style="color:white;") .
	style().
		.footer {
		    position: fixed;
		    bottom: 0;
		    width: 100%;
		    height: 10px;
		    background: #f5f2f0;
		    align: center;
		    display: table;
		    font-family: Helvetica, Arial, sans-serif;   
		}
	div(class="footer")
		h1(style="font-size:1em;vertical-align: middle;text-align: center;") Interfaz 10 - Versatil
			







