extends ../layout
block content
	style().
		html{
			background-color: #f2f2f2;
		}
	script(src="../../js/validators.js")
	script(src="../../js/parseTable.js")
	script(src="../../../js/parseTable.js")
	script(src="../../../js/validators.js")
	script(src="../../../sweet_alerts/dist/sweetalert.min.js")
	link( rel="stylesheet" type="text/css" href="../../../sweet_alerts/dist/sweetalert.css")
	script().
		function buscarPedido(){
			var filtro_por = document.getElementById('filtro').value;
			var valor = document.getElementById('valor').value;
			var messages = "";
			if(filtro_por == "pedido"){
				if(!(/^[1-9](\d)*$/.test(valor))){
					messages +="El numero de pedido debe ser entero positivo.";
				}
			}
			if(filtro_por == "estado"){
				if(!(/^[a-zA-Z]+$/.test(valor))){
					messages +="El nombre del estado debe ser una cadena [pendiente, revision, autorizado]";
				}
			}
			if(messages == ""){
				if(valor.length == 0 || valor==null){
					swal({
						title: "Error",
						text: "Falta valor para el filtro.",
						type: "error",
						confirmButtonText: "Aceptar"
					});
				}else{
					document.getElementById('link').setAttribute('href','/disenios/lista/'+valor+'/');
				}
			}else{
				swal({
					title: "Error",
					text: messages,
					type: "error",
					confirmButtonText: "Aceptar"
				});
			}

			
			
		}
	div(class="container-fluid")
		div(class="row" style="background: #4f6074;")
			div(class="col-md-12 text-center") 
				h2(style="color:white;font-size:2em;") Lista de diseños - Diseñador
		div(class="container")
			div(class="row" style="margin-top:2em;")
				label(class="col-sm-2 text-right control-label") Filtrar por:
				div(class="col-sm-2 text-left" )
					select(name="filtro_por" class="form-control" id="filtro")
						option(value="pedido") Nº Pedido
						option(value="estado") Estado diseño
				div(class="col-sm-2")
					input(type="text" class="col-sm-2 form-control" id="valor" placeholder="Valor de busqueda")
				a(href="#" style="color:white;" class="btn btn-info fa fa-search" id="link" onclick="buscarPedido();")   Buscar
			-if(pedidos.length == 0 ){
				script().
					swal("No hay pedidos!", "No se encontraron registros.", "warning"); 
			-}
			div(class="row" style="margin-top:2em;")
				table(class="table table-striped" style=" margin-top:3em;")
								thead
									tr
										th(style="text-align:center;") Nº Pedido
										th(style="text-align:center;") Fecha
										th(style="text-align:center;") Estado de diseño
										th(style="text-align:center;") Mas información

								tbody
									each pedido in pedidos
										tr
											td(style="text-align:center;" contenteditable=false) #{pedido.no_pedido}
											td(style="text-align:center;" contenteditable=false) #{new Date(pedido.fecha).getFullYear()}/#{new Date(pedido.fecha).getMonth()+1}/#{new Date(pedido.fecha).getDate()}
											td(style="text-align:center;" contenteditable=false) #{pedido.estado_disenio}
											td(style="text-align:center;")
												a(href="/disenio/#{pedido.no_pedido}" style="color:white;" class="btn btn-info") Especificaciones diseño

	div(style="border-top:3em;")
		p(style="color:white;") .
	style().
		.footer {
		    position: fixed;
		    bottom: 0;
		    width: 100%;
		    height: 10px;
		    background: #f5f2f0;
		    align: center;
		    display: table;
		    font-family: Helvetica, Arial, sans-serif;   
		}
	div(class="footer")
		h1(style="font-size:1em;vertical-align: middle;text-align: center;") Interfaz 9 - Versatil
			

