extends ../layout
block content
	style().
		html{
			background-color: #ffffff;
		}
	script(src="../../../sweet_alerts/dist/sweetalert.min.js")
	link( rel="stylesheet" type="text/css" href="../../../sweet_alerts/dist/sweetalert.css")
	
	script().
		function confirmacion(form){
			var confirm = false;
			swal({   
				   title: "¿Seguro que desea eliminar este modelo?",
				   text: "No se podra revertir este cambio.",   
				   type: "warning",   
				   showCancelButton: true,   
				   confirmButtonColor: "#DD6B55",   
				   confirmButtonText: "Si, estoy seguro.",   
				   closeOnConfirm: false }, 
				   function(){  
						swal("Eliminando...!","..", "success"); 
						form.submit();	
					}
			);
			return false;
		}
		function buscarPedido(){
			var valor = document.getElementById('valor').value;
			if(valor.length == 0 || valor==null){
				swal({
					title: "Error",
					text: "Falta valor para el filtro.",
					type: "error",
					confirmButtonText: "Aceptar"
				});
			}else{
				document.getElementById('link_to').setAttribute('href','/catalogo_lista/'+valor);
			}
		}

	div(class="container")
		div(class="panel panel-primary" style="margin-top:0.5em;")
				div(class="panel-heading" style="background:#4e6073;")
					div(class="row")
						h1(class="planel-title" style="font-size:2em;text-align:center;") Catálogo de invitaciones
						div(class="col-md-10")
						div(class="col-md-2")
							a(href="/redirect_user" class="fa fa-undo" aria-hidden="true")   Regresar
				div(class="panel-body" style="background:#cccccc;")
					div(class="row" style="margin-top:2em;")
						label(class="col-sm-2 text-right control-label") Buscar Nº de modelo:
						div(class="col-sm-2")
							input(type="number" min="1" class="col-sm-2 form-control" id="valor" placeholder="Valor de busqueda")
						a(href="#" style="color:white;" class="btn btn-info fa fa-search" id="link_to" onclick="buscarPedido();")   Buscar
					div(class="row" style="margin-bottom:2em;")
						button(class="button text-center")
						img(src="/icons/plus-2.png" class="icon")
						a(href="/catalogo/add" style="color:#333f4c;") Agregar nuevo modelo
					div(class="row")
						each modelo in modelos
							div(class="col-md-4")
								div(class="panel panel-default" style="border-radius: 12px 12px 12px 12px;")
									div(class="panel-body  text-center")
										img(src="../#{modelo.ruta_imagen}" class="model")
										br
										br
										strong Modelo: #{modelo.id_modelo}
										br
										strong Precio unitario: $ #{modelo.precio_unitario}
										br
										form(method="post" action="/catalogo/#{modelo.id_modelo}?_method=delete" class="dp" onsubmit="return confirmacion(this);")
											a(style='text-decoration:none;color:white;' href="/catalogo/#{modelo.id_modelo}" class="dp btn btn-warning") Editar
											button( type="submit" class="btn btn-danger dp" name="id_modelo") Eliminar
	div(style="border-top:3em;")
		p(style="color:white;") .
	style().
		.footer {
		    position: fixed;
		    bottom: 0;
		    width: 100%;
		    height: 10px;
		    background: #f5f2f0;
		    align: center;
		    display: table;
		    font-family: Helvetica, Arial, sans-serif;   
		}
	div(class="footer")
		h1(style="font-size:1em;vertical-align: middle;text-align: center;") Interfaz 15 - Versatil
			








