extends ../layout
block content
	style().
		html{
			background-color: #ffffff;
		}
	script(src="../../../sweet_alerts/dist/sweetalert.min.js")
	link( rel="stylesheet" type="text/css" href="../../../sweet_alerts/dist/sweetalert.css")
	script().
		function validar(form){
			var message = "";
			if(form.descripcion.value.length == 0){
				message +="-Ingrese una descripci贸n \n";
			}
			if(form.precio_unitario.value.length == 0){
				message +="-Ingrese el precio unitario \n";
			}
			if(!(/^[0-9](\d)*(\.(\d)+)?$/.test(form.precio_unitario.value)) ){
				message += "- El precio debe ser numerico positivo ejemplo: [10.5]."
			}
			if(message==""){
				return true;
			}else{
				sweetAlert("Erorr de validaci贸n", message, "error");
				return false;
			}
			
		}
	div(class="container")
		div(class="panel panel-warning" style="margin-top:0.5em;")
				div(class="panel-heading")
					h1(class="planel-title" style="font-size: 25px;text-align:center;") Editar modelo
				div(class="panel-body" style="background:#f2f2f2;")
						div(class="text-center")
							img(src="../#{modelo[0].ruta_imagen}" class="model"  style="margin-bottom:2em; width:230px; height:230px;")
						form(method="post" action="/catalogo/#{modelo[0].id_modelo}?_method=put" class="form-horizontal" onsubmit="return validar(this);")
							div(class="form-group")
								label(for="Modelo" class="col-sm-2 control-label") Modelo:
								div(class="col-sm-4")
									input(type="number" class="form-control " name="id_modelo" placeholder="Numero de modelo" disabled value="#{modelo[0].id_modelo}")
							div(class="form-group")
								label(for="Descripcion" class="col-sm-2 control-label") Descripci贸n:
								div(class="col-sm-8")
									textarea(rows="6" class="form-control " name="descripcion" placeholder="Ingrese la descripci贸n del modelo" required ) #{modelo[0].descripcion}
							div(class="form-group")
								label(for="Precio unitario" class="col-sm-2 control-label") Precio unitario:
								div(class="col-sm-4")
									input(type="number" class="form-control " name="precio_unitario" placeholder="precio unitario" required value="#{modelo[0].precio_unitario}")
							div(class="form-group")
								label(class="col-sm-2")
								div(class="col-sm-3")
									button(type="submit" class="btn btn-success")
										span(class="fa fa-pencil-square-o" aria-hidden="true" )  Actualizar
									a(href="/catalogo_lista" class="btn btn-danger")
										span(class="fa fa-times-circle")  Cancelar