extends ../layout
block content
	style().
		html{
			background-color: #f2f2f2;
		}
	script(src="../../js/validators.js")
	script(src="../../js/parseTable.js")
	script(src="../../../js/parseTable.js")
	script(src="../../../js/validators.js")
	script(src="../../../jquery/dist/jquery.min.js")
	script(src="../../../sweet_alerts/dist/sweetalert.min.js")
	link( rel="stylesheet" type="text/css" href="../../../sweet_alerts/dist/sweetalert.css")
	script().
		function entregarPedido(no_pedido){
			swal({   
				   title: "¿Confirmar entrega de pedido?",
				   text: "No se podra revertir este cambio.",   
				   type: "warning",   
				   showCancelButton: true,   
				   confirmButtonColor: "#DD6B55",   
				   confirmButtonText: "Si, estoy seguro.",   closeOnConfirm: false }, 
				   function(){   
					   	$.ajax({
						   url: '/pedidos/entregas/'+no_pedido+'/?_method=put',
						   type: 'POST',
						   success: function(response) {
							    if (response) {
						        	window.location.href = response;
						        	redirectWindow.location;
						        }
						   }
						});
						swal("Pedido entregado satisfactoriamente!", "...", "success"); 
			});
		}
		function buscarPedido(){
			var filtro_por = document.getElementById('filtro').value;
			var valor = document.getElementById('valor').value;
			if(valor.length == 0 || valor==null){
				swal({
					title: "Error",
					text: "Falta valor para el filtro.",
					type: "error",
					confirmButtonText: "Aceptar"
				});
			}else{
				document.getElementById('link').setAttribute('href','/pedidos/entregas/'+valor+'/');
			}
		}
		function solicitarFacturacion(){
			var ret = false;
			swal({   
				   title: "¿Confirmar solicitud de facturación?",
				   text: "Se enviaran los datos del cliente al contador.",   
				   type: "info",   
				   showCancelButton: true,   
				   confirmButtonColor: "#DD6B55",   
				   confirmButtonText: "Si, estoy seguro.",   closeOnConfirm: false 
				   }, 
				   function(){   
						swal("Verificando datos del cliente...", "", "warning");
						ret = true; 
					}
			);
			return ret;
		}
	div(class="container-fluid")
		div(class="row" style="background: #465669;")
			div(class="col-md-3 text-center" style="background: #4e6075;") 
				h2(style="color:white;") Versatil
			div(class="col-md-9 text-center") 
				h2(style="color:white;") Lista de pedidos 
		div(class="container")
			div(class="row" style="margin-top:2em;")
				label(class="col-sm-2 text-right control-label") Filtrar por:
				div(class="col-sm-2 text-left" )
					select(name="filtro_por" class="form-control" id="filtro")
						option(value="pedido") Nº Pedido
						option(value="cliente") Nombre cliente
				div(class="col-sm-2")
					input(type="text" class="col-sm-2 form-control" id="valor" placeholder="Valor de busqueda")
				a(href="#" style="color:white;" class="btn btn-info fa fa-search" id="link" onclick="buscarPedido();")   Buscar
			div(class="row" style="margin-top:2em;")
						table(class="table table-striped")
							thead
								tr
									th(style="text-align:center;") Nº Pedido
									th(style="text-align:center;") Fecha
									th(style="text-align:center;") Nombre cliente
									th(style="text-align:center;") Telefono cliente
									th(style="text-align:center;") Correo cliente
									th(style="text-align:center;") Estado
									th(style="text-align:center;") Nota de venta
									th(style="text-align:center;") Facturación

							tbody
								each pedido in pedidos
									tr
										td(style="text-align:center;" contenteditable=false) #{pedido.no_pedido}
										td(style="text-align:center;" contenteditable=false) #{pedido.fecha}
										td(style="text-align:center;" contenteditable=false) #{pedido.nombre}
										td(style="text-align:center;" contenteditable=false) #{pedido.telefono}
										td(style="text-align:center;" contenteditable=false) #{pedido.correo}
										td(style="text-center")
											select(class="form-control text-center" id="select_pedido" onchange="entregarPedido(#{pedido.no_pedido});")
												-if(pedido.estado_pedido == "terminado"){
														option(value="terminado") Terminado
														option(value="entregado") Entregado
												-}else if(pedido.estado_pedido == "entregado"){
													option() Entregado
												-}else{
													option() #{pedido.estado_pedido}
												-}
												
										td(style="text-align:center;")
											a(href="#" style="color:white;" class="btn btn-success fa fa-eye" onClick="window.open('/nota_venta/'+#{pedido.no_pedido}+'/','height=800,width=1000');")  Ver nota de venta
										td(style="text-align:center;")
											//- onsubmit="return solicitarFacturacion();"
											
											-if(pedido.factura == null){
													form(method="post" action="/pedidos/entregas/") 
														input(type="hidden" value="#{pedido.no_pedido}" name="no_pedido")
														input(type="hidden" value="#{pedido.id_cliente}" name="id_cliente")
														button(type="submit" class="btn btn-info fa fa-share")  Solicitar factura
											-}else if (pedido.factura == 0){
												p Factura en proceso...
											-}else if(pedido.factura == 1){
												div(class="row text-center")
													a(href="/factura_pdf/"+pedido.filename_factura class="btn btn-info fa fa-eye")
													a(class="btn btn-info fa fa-envelope" href='/send/factura_pdf/'+pedido.filename_factura+'/'+pedido.correo+'/'+pedido.no_pedido)  
											-}

				div(class="row")
					div(class="col-sm-12 text-right" style="margin-bottom:2em;")
						a(href="/redirect_user" style="color:white;" class="btn btn-success fa fa-chevron-circle-left")  Regresar

